.dropDown {
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 75% 100%;
  align-items: center;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
}
.dropDown .markers_list {
  height: 30px;
  width: 229px;
  color: white;
  outline: none;
  display: flex;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
  justify-content: center;
  border: 1px solid white;
  background-color: #ff4c57;
}
.dropDown .markers_list .Arrow {
  width: 17px;
  height: 17px;
  margin-left: 5%;
}
.dropDown .markers_list .Arrow:focus {
  transform: rotate(180deg);
}