.dropdown-content {
  display: flex;
  flex-wrap: wrap;
  left: 14px;
  background-color: #777777;
  width: 227px;
  border: 1px solid #ff7000;
  z-index: 1;

  p{
    display: inherit;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    margin-left: 10%;

    .delete{
      position: absolute;
      top: 1px;
      right: 10px;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }
}

.show {
  display:block;
}
