.dropdown {
  position: relative;
  display: inline-block;
}

.markers_list {
  display: flex;
  height: 30px;
  width: 229px;
  background-color: #777777;
  border: 1px solid #ff7000;
  padding: 0 30%;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.markers_list .downArrow {
  width: 17px;
  height: 17px;
  margin-left: 7%;
  transform: rotate(180deg);
}

.markers_list:hover {
  display: flex;
  height: 30px;
  width: 229px;
  background-color: #ff7000;
  color: black;
  padding: 0 30%;
  font-size: 14px;
  border: none;
  cursor: pointer;
  outline: none;
}
.markers_list:hover .downArrow {
  width: 17px;
  height: 17px;
  margin-left: 7%;
  transform: rotate(0deg);
}