.navBar{
  display: grid;
  height: 621px;
  width: 90%;
  padding: 5% 0 0 5%;
  background: #777777;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;

  .logo{
    display: flex;
    width: 90%;
    border-bottom: 1px solid #ff7000;
  }

  .user_name{
    font-size: 14px;
    font-family: 'Oxygen Bold', sans-serif;
    margin-top: 10%;
    color: #ff7000;

    span{
      color: black;
    }
  }

  .user_email{
    font-size: 14px;
    font-family: 'Oxygen Bold', sans-serif;
    color: #ff7000;

    span{
      color: black;
    }
  }

  .tasks{
    width: 90%;
    margin-top: 15%;
    font-size: 24px;
    color: #ff7000;
    border-bottom: 1px solid #ff7000;
    text-align: center;
  }

  .stats{
    width: 90%;
    margin-top: 15%;
    font-size: 24px;
    color: #ff7000;
    border-bottom: 1px solid #ff7000;
    text-align: center;
    cursor: pointer;
  }

  .settings{
    width: 90%;
    margin-top: 15%;
    font-size: 24px;
    color: #ff7000;
    border-bottom: 1px solid #ff7000;
    text-align: center;
    cursor: pointer;
  }
}