@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  background: #777777;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}